[run]
source = .
omit=
    models.py
    urls.py
    admin.py
    manage.py
    server-manage.py
    setup.py
    */tests/*
    server/*
    core/*
    library/*
    migrations/*
    */__init__.py
    __init__.py

[report]
fail_under = 100
show_missing = True
skip_covered = False